#main {
	background-color: grey;
	height: 1000px;
	width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

.menu_button {
	background-color: #cccccc;
	padding: 24px;
	margin: 5px;
	width: 96px;
	height: 96px;
	float: left;
	text-align: center;
	color: #666666;
	font-size: 75px;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	box-shadow: solid 2px grey;
	display: block;
}

.menu_button:hover {
	background-color: #bbbbbb;
	text-align: center;
	text-transform: uppercase;
	color: #555555;
	font-weight: bold;
	font-size: 75px;
	display: block;
}

#menubox {
	background-color: grey;
	height: 158px;
	width: 790px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	display: block;
}

html {
	background-color: grey;
}

a {
	text-decoration: none;
	display: block;
}

.box {
	background-color: lightgrey;
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 50px;
	height: 686px;
}

.smallBox {
	margin-left: 40px;
	margin-right: 30px;
	width: 460px;
	background-color: #306ed1;
	height: 456px;
	margin-top: 50px;
	margin-bottom: 0px;
	float: left;
	text-align: center;
	padding-top: 130px;
}

.smallBox:hover {
	background-color: #4f85db;
}

h1 {
	font-size: 35px;
}
